In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

scikit-learn

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pdd

# Loading the dataset
data_h = pdd.read_csv('/content/drive/MyDrive/kc_house_data.csv')
print(data_h.head().to_string())

data_h.shape

           id             date     price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0         3       1.00         1180      5650     1.0           0     0          3      7      1180.0              0      1955             0    98178  47.5112 -122.257           1340        5650
1  6414100192  20141209T000000  538000.0         3       2.25         2570      7242     2.0           0     0          3      7      2170.0            400      1951          1991    98125  47.7210 -122.319           1690        7639
2  5631500400  20150225T000000  180000.0         2       1.00          770     10000     1.0           0     0          3      6       770.0              0      1933             0    98028  47.7379 -122.233           2720        8062
3  2487200875  20141209T000000  604000.0         4       3.00         1960      5000     1.0           0     0          5      7      1050.0            910      1965             0    98136  47.5208 -122.393           1360        5000
4  1954400510  20150218T000000  510000.0         3       2.00         1680      8080     1.0           0     0          3      8      1680.0              0      1987             0    98074  47.6168 -122.045           1800        7503

(21613, 21)

In [4]:
data_h.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [5]:
# Selecting the features and target variable
Features1 = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors']
target = 'price'
X1 = data_h[Features1]
y1 = data_h[target]
print(X1.columns)
# print(y1.columns)

Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors'], dtype='object')

In [6]:
# We will perform the data splitting into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size=0.2, random_state=42)

In [7]:

# instance of the Linear Regression model creation
model = LinearRegression()

# Training the model
model.fit(X_train, y_train)

# Making predictions on the test set
y_pred = model.predict(X_test)

In [ ]:
# Evaluating the model
score = model.score(X_test, y_test)
print("Model R^2 Score:", score)

Model R^2 Score: 0.5103248491507681

In [8]:
# Predicting the price of a new house
new_house = pdd.DataFrame({'bedrooms': [2], 'bathrooms': [2.5], 'sqft_living': [600], 'sqft_lot': [600], 'floors': [2]})
predicted_price = model.predict(new_house)
print("Predicted Price:", predicted_price[0])

Predicted Price: 167689.08181953817

In [9]:
new_house = pdd.DataFrame({'bedrooms': [1], 'bathrooms': [1], 'sqft_living': [200], 'sqft_lot': [200], 'floors': [1]})
predicted_price = model.predict(new_house)
print("Predicted Price:", predicted_price[0])

Predicted Price: 88661.63199026202